{{ ansible_managed | comment(decoration="; ") }}

$TTL	{{ zone.soa.ttl }}

@	{{ zone.soa.class }}	SOA	{{ zone.soa.primary }}.	{{ zone.soa.rname }}. (
	0	; serial (ignored by knot, uses unixtime instead)
	{{ zone.soa.refresh }}	; refresh
	{{ zone.soa.retry }}	; retry
	{{ zone.soa.expire }}	; expire
	{{ zone.soa.min_ttl }}	; min ttl
)

{% for r in zone.records %}

{{ r.name }}	{{ r.ttl|default('') }}	{{ r.class|default('') }}	{{ r.type }}	{{ r.value }}
{% endfor %}

